doctype html 
html(lang="ko")
    include partials/head
    body
        div#wrapper
            include partials/header
            include partials/content-gallery
            include partials/footer
//- Javascript Files
include partials/script
script(src="/static/js/main.js")  

