// content begin
#content.no-bottom.no-top
  #top
  // section begin
  section#subheader.text-light(data-bgimage='url(images/background/subheader.jpg) top')
    .center-y.relative.text-center
      .container
        .row
          .col-md-12.text-center
            h1 Gallery
            p Anim pariatur cliche reprehenderit
          .clearfix
  // section close
  section(aria-label='section')
    .container
      #gallery.row
        .col-md-4.mb30.item
          .de-image-hover.rounded
            a.image-popup(href='images/gallery/gallery-item-1.jpg')
              span.dih-title-wrap
                span.dih-title Gallery Title
              span.dih-overlay
              img.lazy.img-fluid(src='images/gallery/gallery-item-1.jpg', alt='')
        .col-md-4.mb30.item
          .de-image-hover.rounded
            a.image-popup(href='images/gallery/gallery-item-2.jpg')
              span.dih-title-wrap
                span.dih-title Gallery Title
              span.dih-overlay
              img.lazy.img-fluid(src='images/gallery/gallery-item-2.jpg', alt='')
        .col-md-4.mb30.item
          .de-image-hover.rounded
            a.image-popup(href='images/gallery/gallery-item-3.jpg')
              span.dih-title-wrap
                span.dih-title Gallery Title
              span.dih-overlay
              img.lazy.img-fluid(src='images/gallery/gallery-item-3.jpg', alt='')
        .col-md-4.mb30.item
          .de-image-hover.rounded
            a.image-popup(href='images/gallery/gallery-item-4.jpg')
              span.dih-title-wrap
                span.dih-title Gallery Title
              span.dih-overlay
              img.lazy.img-fluid(src='images/gallery/gallery-item-4.jpg', alt='')
        .col-md-4.mb30.item
          .de-image-hover.rounded
            a.image-popup(href='images/gallery/gallery-item-5.jpg')
              span.dih-title-wrap
                span.dih-title Gallery Title
              span.dih-overlay
              img.lazy.img-fluid(src='images/gallery/gallery-item-5.jpg', alt='')
        .col-md-8.mb30.item
          .de-image-hover.rounded
            a.image-popup(href='images/gallery/gallery-item-6.jpg')
              span.dih-title-wrap
                span.dih-title Gallery Title
              span.dih-overlay
              img.lazy.img-fluid(src='images/gallery/gallery-item-6.jpg', alt='')
        .col-md-4.mb30.item
          .de-image-hover.rounded
            a.image-popup(href='images/gallery/gallery-item-7.jpg')
              span.dih-title-wrap
                span.dih-title Gallery Title
              span.dih-overlay
              img.lazy.img-fluid(src='images/gallery/gallery-item-7.jpg', alt='')
// content close
a#back-to-top(href='#')
