// content begin
#content.no-bottom
  #top
  // section begin
  section(aria-label='section')
    .container
      .row.wow.fadeIn
        aside.col-md-3
          .item_filter_group
            h4 Select Categories
            .de_form
              .de_checkbox
                input#check_cat_1(name='check_cat_1', type='checkbox', value='check_cat_1')
                label(for='check_cat_1') Art
              .de_checkbox
                input#check_cat_2(name='check_cat_2', type='checkbox', value='check_cat_2')
                label(for='check_cat_2') Music
              .de_checkbox
                input#check_cat_3(name='check_cat_3', type='checkbox', value='check_cat_3')
                label(for='check_cat_3') Domain Names
              .de_checkbox
                input#check_cat_4(name='check_cat_4', type='checkbox', value='check_cat_4')
                label(for='check_cat_4') Virtual World
              .de_checkbox
                input#check_cat_5(name='check_cat_5', type='checkbox', value='check_cat_5')
                label(for='check_cat_5') Trading Cards
              .de_checkbox
                input#check_cat_6(name='check_cat_6', type='checkbox', value='check_cat_6')
                label(for='check_cat_6') Collectibles
              .de_checkbox
                input#check_cat_7(name='check_cat_7', type='checkbox', value='check_cat_7')
                label(for='check_cat_7') Sports
              .de_checkbox
                input#check_cat_8(name='check_cat_8', type='checkbox', value='check_cat_8')
                label(for='check_cat_8') Utility
          .item_filter_group
            h4 Status
            .de_form
              .de_checkbox
                input#check_stat_1(name='check_stat_1', type='checkbox', value='check_stat_1')
                label(for='check_stat_1') Buy Now
              .de_checkbox
                input#check_stat_2(name='check_stat_2', type='checkbox', value='check_stat_2')
                label(for='check_stat_2') On Auction
              .de_checkbox
                input#check_stat_3(name='check_stat_3', type='checkbox', value='check_stat_3')
                label(for='check_stat_3') has Offers
          .item_filter_group
            h4 Items Type
            .de_form
              .de_checkbox
                input#check_item_type_1(name='check_item_type_1', type='checkbox', value='check_item_type_1')
                label(for='check_item_type_1') Single Items
              .de_checkbox
                input#check_item_type_2(name='check_item_type_2', type='checkbox', value='check_item_type_2')
                label(for='check_item_type_2') Bundles
          .item_filter_group
            h4 Collections
            .de_form
              .de_checkbox
                input#check_coll_1(name='check_coll_1', type='checkbox', value='check_coll_1')
                label(for='check_coll_1') Abstraction
              .de_checkbox
                input#check_coll_2(name='check_coll_2', type='checkbox', value='check_coll_2')
                label(for='check_coll_2') Patternlicious
              .de_checkbox
                input#check_coll_3(name='check_coll_3', type='checkbox', value='check_coll_3')
                label(for='check_coll_3') Skecthify
              .de_checkbox
                input#check_coll_4(name='check_coll_4', type='checkbox', value='check_coll_4')
                label(for='check_coll_4') Cartoonism
              .de_checkbox
                input#check_coll_5(name='check_coll_5', type='checkbox', value='check_coll_5')
                label(for='check_coll_5') Virtuland
              .de_checkbox
                input#check_coll_6(name='check_coll_6', type='checkbox', value='check_coll_6')
                label(for='check_coll_6') Papercut
        .col-md-9
          .row
            // nft item begin
            .d-item.col-lg-4.col-md-6.col-sm-6.col-xs-12
              .nft__item
                .de_countdown(data-year='2022', data-month='2', data-day='16', data-hour='8')
                .author_list_pp
                  a(href='author.html', data-bs-toggle='tooltip', data-bs-placement='top', title='Creator: Monica Lucas')
                    img.lazy(src='images/author/author-1.jpg', alt='')
                    i.fa.fa-check
                .nft__item_wrap
                  .nft__item_extra
                    .nft__item_buttons
                      button(onclick="location.href='item-details.html'") Buy Now
                      .nft__item_share
                        h4 Share
                        a(href='https://www.facebook.com/sharer/sharer.php?u=https://gigaland.io', target='_blank')
                          i.fa.fa-facebook.fa-lg
                        a(href='https://twitter.com/intent/tweet?url=https://gigaland.io', target='_blank')
                          i.fa.fa-twitter.fa-lg
                        a(href='mailto:?subject=I wanted you to see this site&body=Check out this site https://gigaland.io')
                          i.fa.fa-envelope.fa-lg
                  a(href='item-details.html')
                    img.lazy.nft__item_preview(src='images/items/static-1.jpg', alt='')
                .nft__item_info
                  a(href='item-details.html')
                    h4 Pinky Ocean
                  .nft__item_click
                    span
                  .nft__item_price
                    | 0.08 ETH
                    span 1/20
                  .nft__item_action
                    a(href='#') Place a bid
                  .nft__item_like
                    i.fa.fa-heart
                    span 50
            // nft item begin
            .d-item.col-lg-4.col-md-6.col-sm-6.col-xs-12
              .nft__item
                .author_list_pp
                  a(href='author.html', data-bs-toggle='tooltip', data-bs-placement='top', title='Creator: Stacy Long')
                    img.lazy(src='images/author/author-10.jpg', alt='')
                    i.fa.fa-check
                .nft__item_wrap
                  .nft__item_extra
                    .nft__item_buttons
                      button(onclick="location.href='item-details.html'") Buy Now
                      .nft__item_share
                        h4 Share
                        a(href='https://www.facebook.com/sharer/sharer.php?u=https://gigaland.io', target='_blank')
                          i.fa.fa-facebook.fa-lg
                        a(href='https://twitter.com/intent/tweet?url=https://gigaland.io', target='_blank')
                          i.fa.fa-twitter.fa-lg
                        a(href='mailto:?subject=I wanted you to see this site&body=Check out this site https://gigaland.io')
                          i.fa.fa-envelope.fa-lg
                  a(href='item-details.html')
                    img.lazy.nft__item_preview(src='images/items/static-2.jpg', alt='')
                .nft__item_info
                  a(href='item-details.html')
                    h4 Deep Sea Phantasy
                  .nft__item_click
                    span
                  .nft__item_price
                    | 0.06 ETH
                    span 1/22
                  .nft__item_action
                    a(href='#') Place a bid
                  .nft__item_like
                    i.fa.fa-heart
                    span 80
            // nft item begin
            .d-item.col-lg-4.col-md-6.col-sm-6.col-xs-12
              .nft__item
                .de_countdown(data-year='2022', data-month='2', data-day='14', data-hour='8')
                .author_list_pp
                  a(href='author.html', data-bs-toggle='tooltip', data-bs-placement='top', title='Creator: Ida Chapman')
                    img.lazy(src='images/author/author-11.jpg', alt='')
                    i.fa.fa-check
                .nft__item_wrap
                  .nft__item_extra
                    .nft__item_buttons
                      button(onclick="location.href='item-details.html'") Buy Now
                      .nft__item_share
                        h4 Share
                        a(href='https://www.facebook.com/sharer/sharer.php?u=https://gigaland.io', target='_blank')
                          i.fa.fa-facebook.fa-lg
                        a(href='https://twitter.com/intent/tweet?url=https://gigaland.io', target='_blank')
                          i.fa.fa-twitter.fa-lg
                        a(href='mailto:?subject=I wanted you to see this site&body=Check out this site https://gigaland.io')
                          i.fa.fa-envelope.fa-lg
                  a(href='item-details.html')
                    img.lazy.nft__item_preview(src='images/items/static-3.jpg', alt='')
                .nft__item_info
                  a(href='item-details.html')
                    h4 Rainbow Style
                  .nft__item_click
                    span
                  .nft__item_price
                    | 0.05 ETH
                    span 1/11
                  .nft__item_action
                    a(href='#') Place a bid
                  .nft__item_like
                    i.fa.fa-heart
                    span 97
            // nft item begin
            .d-item.col-lg-4.col-md-6.col-sm-6.col-xs-12
              .nft__item
                .author_list_pp
                  a(href='author.html', data-bs-toggle='tooltip', data-bs-placement='top', title='Creator: Fred Ryan')
                    img.lazy(src='images/author/author-12.jpg', alt='')
                    i.fa.fa-check
                .nft__item_wrap
                  .nft__item_extra
                    .nft__item_buttons
                      button(onclick="location.href='item-details.html'") Buy Now
                      .nft__item_share
                        h4 Share
                        a(href='https://www.facebook.com/sharer/sharer.php?u=https://gigaland.io', target='_blank')
                          i.fa.fa-facebook.fa-lg
                        a(href='https://twitter.com/intent/tweet?url=https://gigaland.io', target='_blank')
                          i.fa.fa-twitter.fa-lg
                        a(href='mailto:?subject=I wanted you to see this site&body=Check out this site https://gigaland.io')
                          i.fa.fa-envelope.fa-lg
                  a(href='item-details.html')
                    img.lazy.nft__item_preview(src='images/items/static-4.jpg', alt='')
                .nft__item_info
                  a(href='item-details.html')
                    h4 Two Tigers
                  .nft__item_click
                    span
                  .nft__item_price
                    | 0.02 ETH
                    span 1/15
                  .nft__item_action
                    a(href='#') Place a bid
                  .nft__item_like
                    i.fa.fa-heart
                    span 73
            // nft item begin
            .d-item.col-lg-4.col-md-6.col-sm-6.col-xs-12
              .nft__item
                .author_list_pp
                  a(href='author.html', data-bs-toggle='tooltip', data-bs-placement='top', title='Creator: Franklin Greer')
                    img.lazy(src='images/author/author-9.jpg', alt='')
                    i.fa.fa-check
                .nft__item_wrap
                  .nft__item_extra
                    .nft__item_buttons
                      button(onclick="location.href='item-details.html'") Buy Now
                      .nft__item_share
                        h4 Share
                        a(href='https://www.facebook.com/sharer/sharer.php?u=https://gigaland.io', target='_blank')
                          i.fa.fa-facebook.fa-lg
                        a(href='https://twitter.com/intent/tweet?url=https://gigaland.io', target='_blank')
                          i.fa.fa-twitter.fa-lg
                        a(href='mailto:?subject=I wanted you to see this site&body=Check out this site https://gigaland.io')
                          i.fa.fa-envelope.fa-lg
                  a(href='item-details.html')
                    img.lazy.nft__item_preview(src='images/items/anim-4.webp', alt='')
                .nft__item_info
                  a(href='item-details.html')
                    h4 The Truth
                  .nft__item_click
                    span
                  .nft__item_price
                    | 0.06 ETH
                    span 1/20
                  .nft__item_action
                    a(href='#') Place a bid
                  .nft__item_like
                    i.fa.fa-heart
                    span 26
            // nft item begin
            .d-item.col-lg-4.col-md-6.col-sm-6.col-xs-12
              .nft__item
                .de_countdown(data-year='2022', data-month='2', data-day='6', data-hour='8')
                .author_list_pp
                  a(href='author.html', data-bs-toggle='tooltip', data-bs-placement='top', title='Creator: Mamie Barnett')
                    img.lazy(src='images/author/author-2.jpg', alt='')
                    i.fa.fa-check
                .nft__item_wrap
                  .nft__item_extra
                    .nft__item_buttons
                      button(onclick="location.href='item-details.html'") Buy Now
                      .nft__item_share
                        h4 Share
                        a(href='https://www.facebook.com/sharer/sharer.php?u=https://gigaland.io', target='_blank')
                          i.fa.fa-facebook.fa-lg
                        a(href='https://twitter.com/intent/tweet?url=https://gigaland.io', target='_blank')
                          i.fa.fa-twitter.fa-lg
                        a(href='mailto:?subject=I wanted you to see this site&body=Check out this site https://gigaland.io')
                          i.fa.fa-envelope.fa-lg
                  a(href='item-details.html')
                    img.lazy.nft__item_preview(src='images/items/anim-2.webp', alt='')
                .nft__item_info
                  a(href='item-details.html')
                    h4 Running Puppets
                  .nft__item_click
                    span
                  .nft__item_price
                    | 0.03 ETH
                    span 1/24
                  .nft__item_action
                    a(href='#') Place a bid
                  .nft__item_like
                    i.fa.fa-heart
                    span 45
            // nft item begin
            .d-item.col-lg-4.col-md-6.col-sm-6.col-xs-12
              .nft__item
                .author_list_pp
                  a(href='author.html', data-bs-toggle='tooltip', data-bs-placement='top', title='Creator: Nicholas Daniels')
                    img.lazy(src='images/author/author-3.jpg', alt='')
                    i.fa.fa-check
                .nft__item_wrap
                  .nft__item_extra
                    .nft__item_buttons
                      button(onclick="location.href='item-details.html'") Buy Now
                      .nft__item_share
                        h4 Share
                        a(href='https://www.facebook.com/sharer/sharer.php?u=https://gigaland.io', target='_blank')
                          i.fa.fa-facebook.fa-lg
                        a(href='https://twitter.com/intent/tweet?url=https://gigaland.io', target='_blank')
                          i.fa.fa-twitter.fa-lg
                        a(href='mailto:?subject=I wanted you to see this site&body=Check out this site https://gigaland.io')
                          i.fa.fa-envelope.fa-lg
                  a(href='item-details.html')
                    img.lazy.nft__item_preview(src='images/items/anim-1.webp', alt='')
                .nft__item_info
                  a(href='item-details.html')
                    h4 USA Wordmation
                  .nft__item_click
                    span
                  .nft__item_price
                    | 0.09 ETH
                    span 1/25
                  .nft__item_action
                    a(href='#') Place a bid
                  .nft__item_like
                    i.fa.fa-heart
                    span 76
            // nft item begin
            .d-item.col-lg-4.col-md-6.col-sm-6.col-xs-12
              .nft__item
                .de_countdown(data-year='2022', data-month='2', data-day='8', data-hour='8')
                .author_list_pp
                  a(href='author.html', data-bs-toggle='tooltip', data-bs-placement='top', title='Creator: Lori Hart')
                    img.lazy(src='images/author/author-4.jpg', alt='')
                    i.fa.fa-check
                .nft__item_wrap
                  .nft__item_extra
                    .nft__item_buttons
                      button(onclick="location.href='item-details.html'") Buy Now
                      .nft__item_share
                        h4 Share
                        a(href='https://www.facebook.com/sharer/sharer.php?u=https://gigaland.io', target='_blank')
                          i.fa.fa-facebook.fa-lg
                        a(href='https://twitter.com/intent/tweet?url=https://gigaland.io', target='_blank')
                          i.fa.fa-twitter.fa-lg
                        a(href='mailto:?subject=I wanted you to see this site&body=Check out this site https://gigaland.io')
                          i.fa.fa-envelope.fa-lg
                  a(href='item-details.html')
                    img.lazy.nft__item_preview(src='images/items/anim-5.webp', alt='')
                .nft__item_info
                  a(href='item-details.html')
                    h4 Loop Donut
                  .nft__item_click
                    span
                  .nft__item_price
                    | 0.09 ETH
                    span 1/14
                  .nft__item_action
                    a(href='#') Place a bid
                  .nft__item_like
                    i.fa.fa-heart
                    span 94
            // nft item begin
            .d-item.col-lg-4.col-md-6.col-sm-6.col-xs-12
              .nft__item
                .de_countdown(data-year='2022', data-month='2', data-day='16', data-hour='8')
                .author_list_pp
                  a(href='author.html', data-bs-toggle='tooltip', data-bs-placement='top', title='Creator: Jimmy Wright')
                    img.lazy(src='images/author/author-5.jpg', alt='')
                    i.fa.fa-check
                .nft__item_wrap
                  .nft__item_extra
                    .nft__item_buttons
                      button(onclick="location.href='item-details.html'") Buy Now
                      .nft__item_share
                        h4 Share
                        a(href='https://www.facebook.com/sharer/sharer.php?u=https://gigaland.io', target='_blank')
                          i.fa.fa-facebook.fa-lg
                        a(href='https://twitter.com/intent/tweet?url=https://gigaland.io', target='_blank')
                          i.fa.fa-twitter.fa-lg
                        a(href='mailto:?subject=I wanted you to see this site&body=Check out this site https://gigaland.io')
                          i.fa.fa-envelope.fa-lg
                  a(href='item-details.html')
                    img.lazy.nft__item_preview(src='images/items/anim-3.webp', alt='')
                .nft__item_info
                  a(href='item-details.html')
                    h4 Lady Copter
                  .nft__item_click
                    span
                  .nft__item_price
                    | 0.08 ETH
                    span 1/21
                  .nft__item_action
                    a(href='#') Place a bid
                  .nft__item_like
                    i.fa.fa-heart
                    span 75
            // nft item begin
            .d-item.col-lg-4.col-md-6.col-sm-6.col-xs-12
              .nft__item
                .author_list_pp
                  a(href='author.html', data-bs-toggle='tooltip', data-bs-placement='top', title='Creator: Gayle Hicks')
                    img.lazy(src='images/author/author-7.jpg', alt='')
                    i.fa.fa-check
                .nft__item_wrap
                  .nft__item_extra
                    .nft__item_buttons
                      button(onclick="location.href='item-details.html'") Buy Now
                      .nft__item_share
                        h4 Share
                        a(href='https://www.facebook.com/sharer/sharer.php?u=https://gigaland.io', target='_blank')
                          i.fa.fa-facebook.fa-lg
                        a(href='https://twitter.com/intent/tweet?url=https://gigaland.io', target='_blank')
                          i.fa.fa-twitter.fa-lg
                        a(href='mailto:?subject=I wanted you to see this site&body=Check out this site https://gigaland.io')
                          i.fa.fa-envelope.fa-lg
                  a(href='item-details.html')
                    img.lazy.nft__item_preview(src='images/items/static-5.jpg', alt='')
                .nft__item_info
                  a(href='item-details.html')
                    h4 Purple Planet
                  .nft__item_click
                    span
                  .nft__item_price
                    | 0.02 ETH
                    span 1/18
                  .nft__item_action
                    a(href='#') Place a bid
                  .nft__item_like
                    i.fa.fa-heart
                    span 93
            // nft item begin
            .d-item.col-lg-4.col-md-6.col-sm-6.col-xs-12
              .nft__item
                .de_countdown(data-year='2022', data-month='2', data-day='16', data-hour='8')
                .author_list_pp
                  a(href='author.html', data-bs-toggle='tooltip', data-bs-placement='top', title='Creator: Karla Sharp')
                    img.lazy(src='images/author/author-6.jpg', alt='')
                    i.fa.fa-check
                .nft__item_wrap
                  .nft__item_extra
                    .nft__item_buttons
                      button(onclick="location.href='item-details.html'") Buy Now
                      .nft__item_share
                        h4 Share
                        a(href='https://www.facebook.com/sharer/sharer.php?u=https://gigaland.io', target='_blank')
                          i.fa.fa-facebook.fa-lg
                        a(href='https://twitter.com/intent/tweet?url=https://gigaland.io', target='_blank')
                          i.fa.fa-twitter.fa-lg
                        a(href='mailto:?subject=I wanted you to see this site&body=Check out this site https://gigaland.io')
                          i.fa.fa-envelope.fa-lg
                  a(href='item-details.html')
                    img.lazy.nft__item_preview(src='images/items/anim-6.webp', alt='')
                .nft__item_info
                  a(href='item-details.html')
                    h4 Oh Yeah!
                  .nft__item_click
                    span
                  .nft__item_price
                    | 0.025 ETH
                    span 1/12
                  .nft__item_action
                    a(href='#') Place a bid
                  .nft__item_like
                    i.fa.fa-heart
                    span 6
            // nft item begin
            .d-item.col-lg-4.col-md-6.col-sm-6.col-xs-12
              .nft__item
                .author_list_pp
                  a(href='author.html', data-bs-toggle='tooltip', data-bs-placement='top', title='Creator: Claude Banks')
                    img.lazy(src='images/author/author-8.jpg', alt='')
                    i.fa.fa-check
                .nft__item_wrap
                  .nft__item_extra
                    .nft__item_buttons
                      button(onclick="location.href='item-details.html'") Buy Now
                      .nft__item_share
                        h4 Share
                        a(href='https://www.facebook.com/sharer/sharer.php?u=https://gigaland.io', target='_blank')
                          i.fa.fa-facebook.fa-lg
                        a(href='https://twitter.com/intent/tweet?url=https://gigaland.io', target='_blank')
                          i.fa.fa-twitter.fa-lg
                        a(href='mailto:?subject=I wanted you to see this site&body=Check out this site https://gigaland.io')
                          i.fa.fa-envelope.fa-lg
                  a(href='item-details.html')
                    img.lazy.nft__item_preview(src='images/items/anim-7.webp', alt='')
                .nft__item_info
                  a(href='item-details.html')
                    h4 This is Our Story
                  .nft__item_click
                    span
                  .nft__item_price
                    | 0.035 ETH
                    span 1/8
                  .nft__item_action
                    a(href='#') Place a bid
                  .nft__item_like
                    i.fa.fa-heart
                    span 21
            // nft item begin
            .d-item.col-lg-4.col-md-6.col-sm-6.col-xs-12
              .nft__item
                .author_list_pp
                  a(href='author.html', data-bs-toggle='tooltip', data-bs-placement='top', title='Creator: Franklin Greer')
                    img.lazy(src='images/author/author-9.jpg', alt='')
                    i.fa.fa-check
                .nft__item_wrap
                  .nft__item_extra
                    .nft__item_buttons
                      button(onclick="location.href='item-details.html'") Buy Now
                      .nft__item_share
                        h4 Share
                        a(href='https://www.facebook.com/sharer/sharer.php?u=https://gigaland.io', target='_blank')
                          i.fa.fa-facebook.fa-lg
                        a(href='https://twitter.com/intent/tweet?url=https://gigaland.io', target='_blank')
                          i.fa.fa-twitter.fa-lg
                        a(href='mailto:?subject=I wanted you to see this site&body=Check out this site https://gigaland.io')
                          i.fa.fa-envelope.fa-lg
                  a(href='item-details.html')
                    img.lazy.nft__item_preview(src='images/items/static-6.jpg', alt='')
                .nft__item_info
                  a(href='item-details.html')
                    h4 Pixel World
                  .nft__item_click
                    span
                  .nft__item_price
                    | 0.015 ETH
                    span 1/25
                  .nft__item_action
                    a(href='#') Place a bid
                  .nft__item_like
                    i.fa.fa-heart
                    span 46
            // nft item begin
            .d-item.col-lg-4.col-md-6.col-sm-6.col-xs-12
              .nft__item
                .author_list_pp
                  a(href='author.html', data-bs-toggle='tooltip', data-bs-placement='top', title='Creator: Fred Ryan')
                    img.lazy(src='images/author/author-12.jpg', alt='')
                    i.fa.fa-check
                .nft__item_wrap
                  .nft__item_extra
                    .nft__item_buttons
                      button(onclick="location.href='item-details.html'") Buy Now
                      .nft__item_share
                        h4 Share
                        a(href='https://www.facebook.com/sharer/sharer.php?u=https://gigaland.io', target='_blank')
                          i.fa.fa-facebook.fa-lg
                        a(href='https://twitter.com/intent/tweet?url=https://gigaland.io', target='_blank')
                          i.fa.fa-twitter.fa-lg
                        a(href='mailto:?subject=I wanted you to see this site&body=Check out this site https://gigaland.io')
                          i.fa.fa-envelope.fa-lg
                  a(href='item-details.html')
                    img.lazy.nft__item_preview(src='images/items/anim-8.webp', alt='')
                .nft__item_info
                  a(href='item-details.html')
                    h4 I Believe I Can Fly
                  .nft__item_click
                    span
                  .nft__item_price
                    | 0.055 ETH
                    span 1/4
                  .nft__item_action
                    a(href='#') Place a bid
                  .nft__item_like
                    i.fa.fa-heart
                    span 54
            // nft item begin
            .d-item.col-lg-4.col-md-6.col-sm-6.col-xs-12
              .nft__item
                .author_list_pp
                  a(href='author.html', data-bs-toggle='tooltip', data-bs-placement='top', title='Creator: Lori Hart')
                    img.lazy(src='images/author/author-4.jpg', alt='')
                    i.fa.fa-check
                .nft__item_wrap
                  .nft__item_extra
                    .nft__item_buttons
                      button(onclick="location.href='item-details.html'") Buy Now
                      .nft__item_share
                        h4 Share
                        a(href='https://www.facebook.com/sharer/sharer.php?u=https://gigaland.io', target='_blank')
                          i.fa.fa-facebook.fa-lg
                        a(href='https://twitter.com/intent/tweet?url=https://gigaland.io', target='_blank')
                          i.fa.fa-twitter.fa-lg
                        a(href='mailto:?subject=I wanted you to see this site&body=Check out this site https://gigaland.io')
                          i.fa.fa-envelope.fa-lg
                  a(href='item-details.html')
                    img.lazy.nft__item_preview(src='images/items/static-7.jpg', alt='')
                .nft__item_info
                  a(href='item-details.html')
                    h4 Cute Astronout
                  .nft__item_click
                    span
                  .nft__item_price
                    | 0.005 ETH
                    span 1/30
                  .nft__item_action
                    a(href='#') Place a bid
                  .nft__item_like
                    i.fa.fa-heart
                    span 32
            // nft item begin
            .d-item.col-lg-4.col-md-6.col-sm-6.col-xs-12
              .nft__item
                .author_list_pp
                  a(href='author.html', data-bs-toggle='tooltip', data-bs-placement='top', title='Creator: Monica Lucas')
                    img.lazy(src='images/author/author-1.jpg', alt='')
                    i.fa.fa-check
                .nft__item_wrap
                  .nft__item_extra
                    .nft__item_buttons
                      button(onclick="location.href='item-details.html'") Buy Now
                      .nft__item_share
                        h4 Share
                        a(href='https://www.facebook.com/sharer/sharer.php?u=https://gigaland.io', target='_blank')
                          i.fa.fa-facebook.fa-lg
                        a(href='https://twitter.com/intent/tweet?url=https://gigaland.io', target='_blank')
                          i.fa.fa-twitter.fa-lg
                        a(href='mailto:?subject=I wanted you to see this site&body=Check out this site https://gigaland.io')
                          i.fa.fa-envelope.fa-lg
                  a(href='item-details.html')
                    img.lazy.nft__item_preview(src='images/items/static-8.jpg', alt='')
                .nft__item_info
                  a(href='item-details.html')
                    h4 Teal Ocean
                  .nft__item_click
                    span
                  .nft__item_price
                    | 0.025 ETH
                    span 1/12
                  .nft__item_action
                    a(href='#') Place a bid
                  .nft__item_like
                    i.fa.fa-heart
                    span 24
            .col-md-12.text-center
              a#loadmore.btn-main.wow.fadeInUp.lead(href='#') Load more
// content close
a#back-to-top(href='#')
