// content begin
#content.no-bottom.no-top
  #top
  section.mt90.sm-mt-0(aria-label='section')
    .container
      .row
        .col-md-6.text-center
          img.img-fluid.img-rounded.mb-sm-30(src='images/items/big-4.jpg', alt='')
        .col-md-6
          .item_info
            | Auctions ends in 
            .de_countdown(data-year='2022', data-month='2', data-day='16', data-hour='8')
            h2 AnimeSailorClub #304
            .item_info_counts
              .item_info_type
                i.fa.fa-image
                | Art
              .item_info_views
                i.fa.fa-eye
                | 250
              .item_info_like
                i.fa.fa-heart
                | 18
            p
              | Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
            .d-flex.flex-row
              .mr40
                h6 Creator
                .item_author
                  .author_list_pp
                    a(href='author.html')
                      img.lazy(src='images/author/author-1.jpg', alt='')
                      i.fa.fa-check
                  .author_list_info
                    a(href='author.html') Monica Lucas
              div
                h6 Collection
                .item_author
                  .author_list_pp
                    a(href='collection.html')
                      img.lazy(src='images/collections/coll-thumbnail-1.jpg', alt='')
                      i.fa.fa-check
                  .author_list_info
                    a(href='collection.html') AnimeSailorClub
            .spacer-40
            .de_tab.tab_simple
              ul.de_nav
                li.active
                  span Details
                li
                  span Bids
                li
                  span History
              .de_tab_content
                .tab-1
                  h6 Owner
                  .item_author
                    .author_list_pp
                      a(href='author.html')
                        img.lazy(src='images/author/author-10.jpg', alt='')
                        i.fa.fa-check
                    .author_list_info
                      a(href='author.html') Stacy Long
                  .spacer-40
                  h6 Properties
                  .row.gx-2
                    .col-lg-4.col-md-6.col-sm-6
                      a.nft_attr(href='#')
                        h5 Background
                        h4 Yellowish Sky
                        span 85% have this trait
                    .col-lg-4.col-md-6.col-sm-6
                      a.nft_attr(href='#')
                        h5 Eyes
                        h4 Purple Eyes
                        span 14% have this trait
                    .col-lg-4.col-md-6.col-sm-6
                      a.nft_attr(href='#')
                        h5 Nose
                        h4 Small Nose
                        span 45% have this trait
                    .col-lg-4.col-md-6.col-sm-6
                      a.nft_attr(href='#')
                        h5 Mouth
                        h4 Smile Red Lip
                        span 61% have this trait
                    .col-lg-4.col-md-6.col-sm-6
                      a.nft_attr(href='#')
                        h5 Neck
                        h4 Pink Ribbon
                        span 27% have this trait
                    .col-lg-4.col-md-6.col-sm-6
                      a.nft_attr(href='#')
                        h5 Hair
                        h4 Pink Short
                        span 35% have this trait
                    .col-lg-4.col-md-6.col-sm-6
                      a.nft_attr(href='#')
                        h5 Accessories
                        h4 Heart Necklace
                        span 33% have this trait
                    .col-lg-4.col-md-6.col-sm-6
                      a.nft_attr(href='#')
                        h5 Hat
                        h4 Cute Panda
                        span 62% have this trait
                    .col-lg-4.col-md-6.col-sm-6
                      a.nft_attr(href='#')
                        h5 Clothes
                        h4 Casual Purple
                        span 78% have this trait
                  .spacer-30
                .tab-2
                  .p_list
                    .p_list_pp
                      a(href='author.html')
                        img.lazy(src='images/author/author-1.jpg', alt='')
                        i.fa.fa-check
                    .p_list_info
                      | Bid accepted 
                      b 0.005 ETH
                      span
                        | by 
                        b Monica Lucas
                        |  at 6/15/2021, 3:20 AM
                  .p_list
                    .p_list_pp
                      a(href='author.html')
                        img.lazy(src='images/author/author-2.jpg', alt='')
                        i.fa.fa-check
                    .p_list_info
                      | Bid 
                      b 0.005 ETH
                      span
                        | by 
                        b Mamie Barnett
                        |  at 6/14/2021, 5:40 AM
                  .p_list
                    .p_list_pp
                      a(href='author.html')
                        img.lazy(src='images/author/author-3.jpg', alt='')
                        i.fa.fa-check
                    .p_list_info
                      | Bid 
                      b 0.004 ETH
                      span
                        | by 
                        b Nicholas Daniels
                        |  at 6/13/2021, 5:03 AM
                  .p_list
                    .p_list_pp
                      a(href='author.html')
                        img.lazy(src='images/author/author-4.jpg', alt='')
                        i.fa.fa-check
                    .p_list_info
                      | Bid 
                      b 0.003 ETH
                      span
                        | by 
                        b Lori Hart
                        |  at 6/12/2021, 12:57 AM
                .tab-3
                  .p_list
                    .p_list_pp
                      a(href='author.html')
                        img.lazy(src='images/author/author-5.jpg', alt='')
                        i.fa.fa-check
                    .p_list_info
                      | Bid 
                      b 0.005 ETH
                      span
                        | by 
                        b Jimmy Wright
                        |  at 6/14/2021, 6:40 AM
                  .p_list
                    .p_list_pp
                      a(href='author.html')
                        img.lazy(src='images/author/author-1.jpg', alt='')
                        i.fa.fa-check
                    .p_list_info
                      | Bid accepted 
                      b 0.005 ETH
                      span
                        | by 
                        b Monica Lucas
                        |  at 6/15/2021, 3:20 AM
                  .p_list
                    .p_list_pp
                      a(href='author.html')
                        img.lazy(src='images/author/author-2.jpg', alt='')
                        i.fa.fa-check
                    .p_list_info
                      | Bid 
                      b 0.005 ETH
                      span
                        | by 
                        b Mamie Barnett
                        |  at 6/14/2021, 5:40 AM
                  .p_list
                    .p_list_pp
                      a(href='author.html')
                        img.lazy(src='images/author/author-3.jpg', alt='')
                        i.fa.fa-check
                    .p_list_info
                      | Bid 
                      b 0.004 ETH
                      span
                        | by 
                        b Nicholas Daniels
                        |  at 6/13/2021, 5:03 AM
                  .p_list
                    .p_list_pp
                      a(href='author.html')
                        img.lazy(src='images/author/author-4.jpg', alt='')
                        i.fa.fa-check
                    .p_list_info
                      | Bid 
                      b 0.003 ETH
                      span
                        | by 
                        b Lori Hart
                        |  at 6/12/2021, 12:57 AM
              .spacer-10
              h6 Price
              .nft-item-price
                img(src='images/misc/ethereum.svg', alt='')
                span 0.059
                | ($253.67)
              // Button trigger modal
              a.btn-main.btn-lg(href='#', data-bs-toggle='modal', data-bs-target='#buy_now')
                | Buy Now
              a.btn-main.btn-lg.btn-light(href='#', data-bs-toggle='modal', data-bs-target='#place_a_bid')
                | Place a Bid
// content close
