// content begin
#content.no-bottom.no-top
  #top
  // section begin
  section#subheader.text-light(data-bgimage='url(images/background/subheader.jpg) top')
    .center-y.relative.text-center
      .container
        .row
          .col-md-12.text-center
            h1 News
            p Anim pariatur cliche reprehenderit
          .clearfix
  // section close
  // section begin
  section(aria-label='section')
    .container
      .row
        .col-lg-4.col-md-6.mb30
          .bloglist.item
            .post-content
              .post-image
                img.lazy(alt='', src='images/news/news-1.jpg')
              .post-text
                span.p-tagline Tips &amp; Tricks
                span.p-date October 28, 2020
                h4
                  a(href='news-single.html')
                    | The next big trend in crypto
                    span
                p
                  | Dolore officia sint incididunt non excepteur ea mollit commodo ut enim reprehenderit cupidatat labore ad laborum consectetur consequat...
                a.btn-main(href='news-single.html') Read more
        .col-lg-4.col-md-6.mb30
          .bloglist.item
            .post-content
              .post-image
                img.lazy(alt='', src='images/news/news-2.jpg')
              .post-text
                span.p-tagline Tips &amp; Tricks
                span.p-date October 28, 2020
                h4
                  a(href='news-single.html')
                    | The next big trend in crypto
                    span
                p
                  | Dolore officia sint incididunt non excepteur ea mollit commodo ut enim reprehenderit cupidatat labore ad laborum consectetur consequat...
                a.btn-main(href='news-single.html') Read more
        .col-lg-4.col-md-6.mb30
          .bloglist.item
            .post-content
              .post-image
                img.lazy(alt='', src='images/news/news-3.jpg')
              .post-text
                span.p-tagline Tips &amp; Tricks
                span.p-date October 28, 2020
                h4
                  a(href='news-single.html')
                    | The next big trend in crypto
                    span
                p
                  | Dolore officia sint incididunt non excepteur ea mollit commodo ut enim reprehenderit cupidatat labore ad laborum consectetur consequat...
                a.btn-main(href='news-single.html') Read more
        .col-lg-4.col-md-6.mb30
          .bloglist.item
            .post-content
              .post-image
                img.lazy(alt='', src='images/news/news-4.jpg')
              .post-text
                span.p-tagline Tips &amp; Tricks
                span.p-date October 28, 2020
                h4
                  a(href='news-single.html')
                    | The next big trend in crypto
                    span
                p
                  | Dolore officia sint incididunt non excepteur ea mollit commodo ut enim reprehenderit cupidatat labore ad laborum consectetur consequat...
                a.btn-main(href='news-single.html') Read more
        .col-lg-4.col-md-6.mb30
          .bloglist.item
            .post-content
              .post-image
                img.lazy(alt='', src='images/news/news-5.jpg')
              .post-text
                span.p-tagline Tips &amp; Tricks
                span.p-date October 28, 2020
                h4
                  a(href='news-single.html')
                    | The next big trend in crypto
                    span
                p
                  | Dolore officia sint incididunt non excepteur ea mollit commodo ut enim reprehenderit cupidatat labore ad laborum consectetur consequat...
                a.btn-main(href='news-single.html') Read more
        .col-lg-4.col-md-6.mb30
          .bloglist.item
            .post-content
              .post-image
                img.lazy(alt='', src='images/news/news-6.jpg')
              .post-text
                span.p-tagline Tips &amp; Tricks
                span.p-date October 28, 2020
                h4
                  a(href='news-single.html')
                    | The next big trend in crypto
                    span
                p
                  | Dolore officia sint incididunt non excepteur ea mollit commodo ut enim reprehenderit cupidatat labore ad laborum consectetur consequat...
                a.btn-main(href='news-single.html') Read more
        .spacer-single
        ul.pagination
          li
            a(href='#') Prev
          li.active
            a(href='#') 1
          li
            a(href='#') 2
          li
            a(href='#') 3
          li
            a(href='#') 4
          li
            a(href='#') 5
          li
            a(href='#') Next
// content close
a#back-to-top(href='#')
