// content begin
#content.no-bottom.no-top
  #top
  // section begin
  section.text-light(data-bgimage='url(images/background/subheader.jpg)', data-stellar-background-ratio='.2')
    .center-y.relative.text-center(data-scroll-speed='4')
      .container
        .row
          .col-md-8.offset-md-2
            .col.text-center
              .spacer-single
              h1 Help Center
              form#form_sb.row(action='blank.php', method='post', name='myForm')
                .col.text-center
                  .spacer-10
                  input#name_1.form-control(name='name_1', placeholder='type your question here', type='text')
                  a#btn-submit(href='#')
                    i.arrow_right
              .spacer-20
              p eg. create item, create wallet.
            .clearfix
  // section close
  // section begin
  section(aria-label='section')
    .container
      .row
        .col-lg-4.col-md-6.mb25
          .feature-box.f-boxed.style-3.text-center
            .text
              h4 Getting Started
              p
                | Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam.
              a.btn-main(href='#') Read more
        .col-lg-4.col-md-6.mb25
          .feature-box.f-boxed.style-3.text-center
            .text
              h4 Buying
              p
                | Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam.
              a.btn-main(href='#') Read more
        .col-lg-4.col-md-6.mb25
          .feature-box.f-boxed.style-3.text-center
            .text
              h4 Selling
              p
                | Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam.
              a.btn-main(href='#') Read more
        .col-lg-4.col-md-6.mb25
          .feature-box.f-boxed.style-3.text-center
            .text
              h4 Creating
              p
                | Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam.
              a.btn-main(href='#') Read more
        .col-lg-4.col-md-6.mb25
          .feature-box.f-boxed.style-3.text-center
            .text
              h4 Partners
              p
                | Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam.
              a.btn-main(href='#') Read more
        .col-lg-4.col-md-6.mb25
          .feature-box.f-boxed.style-3.text-center
            .text
              h4 Developers
              p
                | Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam.
              a.btn-main(href='#') Read more
// content close
a#back-to-top(href='#')
