// content begin
#content.no-bottom.no-top
  #top
  // section begin
  section#subheader.text-light(data-bgimage='url(images/background/subheader.jpg) top')
    .center-y.relative.text-center
      .container
        .row
          .col-md-12.text-center
            h1 Wallet
          .clearfix
  // section close
  // section begin
  section(aria-label='section')
    .container
      .row
        .col-lg-3.mb30
          a.box-url(href='login')
            span.box-url-label Most Popular
            img.mb20(src='images/wallet/1.png', alt='')
            h4 Metamask
            p
              | Start exploring blockchain applications in seconds.  Trusted by over 1 million users worldwide.
        .col-lg-3.mb30
          a.box-url(href='login')
            img.mb20(src='images/wallet/2.png', alt='')
            h4 Bitski
            p
              | Bitski connects communities, creators and brands through unique, ownable digital content.
        .col-lg-3.mb30
          a.box-url(href='login')
            img.mb20(src='images/wallet/3.png', alt='')
            h4 Fortmatic
            p Let users access your Ethereum app from anywhere. No more browser extensions.
        .col-lg-3.mb30
          a.box-url(href='login')
            img.mb20(src='images/wallet/4.png', alt='')
            h4 WalletConnect
            p
              | Open source protocol for connecting decentralised applications to mobile wallets.
        .col-lg-3.mb30
          a.box-url(href='login')
            img.mb20(src='images/wallet/5.png', alt='')
            h4 Coinbase Wallet
            p
              | The easiest and most secure crypto wallet. ... No Coinbase account required.
        .col-lg-3.mb30
          a.box-url(href='login')
            img.mb20(src='images/wallet/6.png', alt='')
            h4 Arkane
            p Make it easy to create blockchain applications with secure wallets solutions.
        .col-lg-3.mb30
          a.box-url(href='login')
            img.mb20(src='images/wallet/7.png', alt='')
            h4 Authereum
            p Your wallet where you want it. Log into your favorite dapps with Authereum.
        .col-lg-3.mb30
          a.box-url(href='login')
            span.box-url-label Most Simple
            img.mb20(src='images/wallet/8.png', alt='')
            h4 Torus
            p
              | Open source protocol for connecting decentralised applications to mobile wallets.
// content close
a#back-to-top(href='#')
