#content.no-bottom.no-top
  #top
  section#section-hero.no-bottom(aria-label='section')
    .d-carousel
      #item-carousel-big.owl-carousel.nft_alt_slider.wow.fadeIn
        .nft_pic
          a(href='detail')
            span.nft_pic_info
              span.nft_pic_title.text-dark AnimeSailorClub
              span.nft_pic_by.text-dark Monica Lucas
          .nft_pic_wrap
            img.lazy.img-fluid(src='images/items/big-4.jpg', alt='')
        .nft_pic.nft_multi
          a(href='detail')
            .nft_pic_title
              h4 Gradient Boxes
              span Monica Lucas
            img.lazy.img-fluid(src='images/items/static-15.jpg', alt='')
          a(href='detail')
            .nft_pic_title
              h4 Buccocervical
              span Ida Chapman
            img.lazy.img-fluid(src='images/items-alt/static-9.jpg', alt='')
          a(href='detail')
            .nft_pic_title
              h4 Surfusion Underfalconer
              span Stacy Long
            img.lazy.img-fluid(src='images/items-alt/static-10.jpg', alt='')
          a(href='detail')
            .nft_pic_title.text-dark
              h4 The Truth
              span Franklin Greer
            img.lazy.img-fluid(src='images/items/anim-4.webp', alt='')
        .nft_pic.nft_multi
          a(href='detail')
            .nft_pic_title.text-dark
              h4 Oh Yeah!
              span Karla Sharp
            img.lazy.img-fluid(src='images/items/anim-6.webp', alt='')
          a(href='detail')
            .nft_pic_title
              h4 Glass Cube
              span Mamie Barnet
            img.lazy.img-fluid(src='images/items/static-9.jpg', alt='')
          a(href='detail')
            .nft_pic_title
              h4 Delectus Antiendotoxin
              span Monica Lucas
            img.lazy.img-fluid(src='images/items-alt/static-8.jpg', alt='')
          a(href='detail')
            .nft_pic_title
              h4 Loop Donut
              span Lori Hart
            img.lazy.img-fluid(src='images/items/anim-5.webp', alt='')
        .nft_pic
          a(href='detail')
            span.nft_pic_info
              span.nft_pic_title The Era of 90&apos;s
              span.nft_pic_by Gayle Hicks
          .nft_pic_wrap
            img.lazy.img-fluid(src='images/items/big-3.jpg', alt='')
        .nft_pic.nft_multi
          a(href='detail')
            .nft_pic_title.text-dark
              h4 I Believe I Can Fly
              span Fred Ryan
            img.lazy.img-fluid(src='images/items/anim-8.webp', alt='')
          a(href='detail')
            .nft_pic_title
              h4 Cute Island
              span Lori Hart
            img.lazy.img-fluid(src='images/items/static-17.jpg', alt='')
          a(href='detail')
            .nft_pic_title.text-dark
              h4 Cute Astronout
              span Lori Hart
            img.lazy.img-fluid(src='images/items/static-7.jpg', alt='')
          a(href='detail')
            .nft_pic_title
              h4 Alien vs Predator
              span Monica Lucas
            img.lazy.img-fluid(src='images/items/static-16.jpg', alt='')
      .d-arrow-left
        i.fa.fa-angle-left
      .d-arrow-right
        i.fa.fa-angle-right
  section#section-collections.pt30
    .container
      .spacer-single
      .row.wow.fadeIn
        .col-lg-12
          h2.style-2 New Items
        // nft item begin
        .d-item.col-lg-3.col-md-6.col-sm-6.col-xs-12
          .nft__item
            .de_countdown.bg-color-secondary.text-white(data-year='2022', data-month='2', data-day='22', data-hour='8')
            .author_list_pp
              a(href='author.html', data-bs-toggle='tooltip', data-bs-placement='top', title='Creator: Monica Lucas')
                img.lazy(src='images/author/author-1.jpg', alt='')
                i.fa.fa-check
            .nft__item_wrap
              .nft__item_extra
                .nft__item_buttons
                  button(onclick="location.href='detail'") Buy Now
                  .nft__item_share
                    h4 Share
                    a(href='https://www.facebook.com/sharer/sharer.php?u=https://gigaland.io', target='_blank')
                      i.fa.fa-facebook.fa-lg
                    a(href='https://twitter.com/intent/tweet?url=https://gigaland.io', target='_blank')
                      i.fa.fa-twitter.fa-lg
                    a(href='mailto:?subject=I wanted you to see this site&body=Check out this site https://gigaland.io')
                      i.fa.fa-envelope.fa-lg
              a(href='detail')
                img.lazy.nft__item_preview(src='images/items-alt/static-1.jpg', alt='')
            .nft__item_info
              a(href='detail')
                h4 Sunny Day
              .nft__item_click
                span
              .nft__item_price
                | 0.08 ETH
                span 1/20
              .nft__item_action
                a(href='#') Place a bid
              .nft__item_like
                i.fa.fa-heart
                span 50
        // nft item begin
        .d-item.col-lg-3.col-md-6.col-sm-6.col-xs-12
          .nft__item
            .author_list_pp
              a(href='author.html', data-bs-toggle='tooltip', data-bs-placement='top', title='Creator: Stacy Long')
                img.lazy(src='images/author/author-10.jpg', alt='')
                i.fa.fa-check
            .nft__item_wrap
              .nft__item_extra
                .nft__item_buttons
                  button(onclick="location.href='detail'") Buy Now
                  .nft__item_share
                    h4 Share
                    a(href='https://www.facebook.com/sharer/sharer.php?u=https://gigaland.io', target='_blank')
                      i.fa.fa-facebook.fa-lg
                    a(href='https://twitter.com/intent/tweet?url=https://gigaland.io', target='_blank')
                      i.fa.fa-twitter.fa-lg
                    a(href='mailto:?subject=I wanted you to see this site&body=Check out this site https://gigaland.io')
                      i.fa.fa-envelope.fa-lg
              a(href='detail')
                img.lazy.nft__item_preview(src='images/items-alt/static-2.jpg', alt='')
            .nft__item_info
              a(href='detail')
                h4 Blue Planet
              .nft__item_click
                span
              .nft__item_price
                | 0.06 ETH
                span 1/22
              .nft__item_action
                a(href='#') Place a bid
              .nft__item_like
                i.fa.fa-heart
                span 80
        // nft item begin
        .d-item.col-lg-3.col-md-6.col-sm-6.col-xs-12
          .nft__item
            .de_countdown.bg-color-secondary.text-white(data-year='2022', data-month='2', data-day='12', data-hour='8')
            .author_list_pp
              a(href='author.html', data-bs-toggle='tooltip', data-bs-placement='top', title='Creator: Ida Chapman')
                img.lazy(src='images/author/author-11.jpg', alt='')
                i.fa.fa-check
            .nft__item_wrap
              .nft__item_extra
                .nft__item_buttons
                  button(onclick="location.href='detail'") Buy Now
                  .nft__item_share
                    h4 Share
                    a(href='https://www.facebook.com/sharer/sharer.php?u=https://gigaland.io', target='_blank')
                      i.fa.fa-facebook.fa-lg
                    a(href='https://twitter.com/intent/tweet?url=https://gigaland.io', target='_blank')
                      i.fa.fa-twitter.fa-lg
                    a(href='mailto:?subject=I wanted you to see this site&body=Check out this site https://gigaland.io')
                      i.fa.fa-envelope.fa-lg
              a(href='detail')
                img.lazy.nft__item_preview(src='images/items-alt/static-3.jpg', alt='')
            .nft__item_info
              a(href='detail')
                h4 Finally Free
              .nft__item_click
                span
              .nft__item_price
                | 0.05 ETH
                span 1/11
              .nft__item_action
                a(href='#') Place a bid
              .nft__item_like
                i.fa.fa-heart
                span 97
        // nft item begin
        .d-item.col-lg-3.col-md-6.col-sm-6.col-xs-12
          .nft__item
            .author_list_pp
              a(href='author.html', data-bs-toggle='tooltip', data-bs-placement='top', title='Creator: Fred Ryan')
                img.lazy(src='images/author/author-12.jpg', alt='')
                i.fa.fa-check
            .nft__item_wrap
              .nft__item_extra
                .nft__item_buttons
                  button(onclick="location.href='detail'") Buy Now
                  .nft__item_share
                    h4 Share
                    a(href='https://www.facebook.com/sharer/sharer.php?u=https://gigaland.io', target='_blank')
                      i.fa.fa-facebook.fa-lg
                    a(href='https://twitter.com/intent/tweet?url=https://gigaland.io', target='_blank')
                      i.fa.fa-twitter.fa-lg
                    a(href='mailto:?subject=I wanted you to see this site&body=Check out this site https://gigaland.io')
                      i.fa.fa-envelope.fa-lg
              a(href='detail')
                img.lazy.nft__item_preview(src='images/items-alt/static-4.jpg', alt='')
            .nft__item_info
              a(href='detail')
                h4 Work From Home
              .nft__item_click
                span
              .nft__item_price
                | 0.02 ETH
                span 1/15
              .nft__item_action
                a(href='#') Place a bid
              .nft__item_like
                i.fa.fa-heart
                span 73
        // nft item begin
        .d-item.col-lg-3.col-md-6.col-sm-6.col-xs-12
          .nft__item
            .author_list_pp
              a(href='author.html', data-bs-toggle='tooltip', data-bs-placement='top', title='Creator: Franklin Greer')
                img.lazy(src='images/author/author-9.jpg', alt='')
                i.fa.fa-check
            .nft__item_wrap
              .nft__item_extra
                .nft__item_buttons
                  button(onclick="location.href='detail'") Buy Now
                  .nft__item_share
                    h4 Share
                    a(href='https://www.facebook.com/sharer/sharer.php?u=https://gigaland.io', target='_blank')
                      i.fa.fa-facebook.fa-lg
                    a(href='https://twitter.com/intent/tweet?url=https://gigaland.io', target='_blank')
                      i.fa.fa-twitter.fa-lg
                    a(href='mailto:?subject=I wanted you to see this site&body=Check out this site https://gigaland.io')
                      i.fa.fa-envelope.fa-lg
              a(href='detail')
                img.lazy.nft__item_preview(src='images/items/anim-4.webp', alt='')
            .nft__item_info
              a(href='detail')
                h4 The Truth
              .nft__item_click
                span
              .nft__item_price
                | 0.06 ETH
                span 1/20
              .nft__item_action
                a(href='#') Place a bid
              .nft__item_like
                i.fa.fa-heart
                span 26
        // nft item begin
        .d-item.col-lg-3.col-md-6.col-sm-6.col-xs-12
          .nft__item
            .de_countdown.bg-color-secondary.text-white(data-year='2022', data-month='2', data-day='28', data-hour='8')
            .author_list_pp
              a(href='author.html', data-bs-toggle='tooltip', data-bs-placement='top', title='Creator: Mamie Barnett')
                img.lazy(src='images/author/author-2.jpg', alt='')
                i.fa.fa-check
            .nft__item_wrap
              .nft__item_extra
                .nft__item_buttons
                  button(onclick="location.href='detail'") Buy Now
                  .nft__item_share
                    h4 Share
                    a(href='https://www.facebook.com/sharer/sharer.php?u=https://gigaland.io', target='_blank')
                      i.fa.fa-facebook.fa-lg
                    a(href='https://twitter.com/intent/tweet?url=https://gigaland.io', target='_blank')
                      i.fa.fa-twitter.fa-lg
                    a(href='mailto:?subject=I wanted you to see this site&body=Check out this site https://gigaland.io')
                      i.fa.fa-envelope.fa-lg
              a(href='detail')
                img.lazy.nft__item_preview(src='images/items-alt/static-5.jpg', alt='')
            .nft__item_info
              a(href='detail')
                h4 Running Puppets
              .nft__item_click
                span
              .nft__item_price
                | 0.03 ETH
                span 1/24
              .nft__item_action
                a(href='#') Place a bid
              .nft__item_like
                i.fa.fa-heart
                span 45
        // nft item begin
        .d-item.col-lg-3.col-md-6.col-sm-6.col-xs-12
          .nft__item
            .author_list_pp
              a(href='author.html', data-bs-toggle='tooltip', data-bs-placement='top', title='Creator: Nicholas Daniels')
                img.lazy(src='images/author/author-3.jpg', alt='')
                i.fa.fa-check
            .nft__item_wrap
              .nft__item_extra
                .nft__item_buttons
                  button(onclick="location.href='detail'") Buy Now
                  .nft__item_share
                    h4 Share
                    a(href='https://www.facebook.com/sharer/sharer.php?u=https://gigaland.io', target='_blank')
                      i.fa.fa-facebook.fa-lg
                    a(href='https://twitter.com/intent/tweet?url=https://gigaland.io', target='_blank')
                      i.fa.fa-twitter.fa-lg
                    a(href='mailto:?subject=I wanted you to see this site&body=Check out this site https://gigaland.io')
                      i.fa.fa-envelope.fa-lg
              a(href='detail')
                img.lazy.nft__item_preview(src='images/items-alt/static-6.jpg', alt='')
            .nft__item_info
              a(href='detail')
                h4 Green Frogman
              .nft__item_click
                span
              .nft__item_price
                | 0.09 ETH
                span 1/25
              .nft__item_action
                a(href='#') Place a bid
              .nft__item_like
                i.fa.fa-heart
                span 76
        // nft item begin
        .d-item.col-lg-3.col-md-6.col-sm-6.col-xs-12
          .nft__item
            .de_countdown.bg-color-secondary.text-white(data-year='2022', data-month='2', data-day='8', data-hour='8')
            .author_list_pp
              a(href='author.html', data-bs-toggle='tooltip', data-bs-placement='top', title='Creator: Lori Hart')
                img.lazy(src='images/author/author-4.jpg', alt='')
                i.fa.fa-check
            .nft__item_wrap
              .nft__item_extra
                .nft__item_buttons
                  button(onclick="location.href='detail'") Buy Now
                  .nft__item_share
                    h4 Share
                    a(href='https://www.facebook.com/sharer/sharer.php?u=https://gigaland.io', target='_blank')
                      i.fa.fa-facebook.fa-lg
                    a(href='https://twitter.com/intent/tweet?url=https://gigaland.io', target='_blank')
                      i.fa.fa-twitter.fa-lg
                    a(href='mailto:?subject=I wanted you to see this site&body=Check out this site https://gigaland.io')
                      i.fa.fa-envelope.fa-lg
              a(href='detail')
                img.lazy.nft__item_preview(src='images/items/anim-5.webp', alt='')
            .nft__item_info
              a(href='detail')
                h4 Loop Donut
              .nft__item_click
                span
              .nft__item_price
                | 0.09 ETH
                span 1/14
              .nft__item_action
                a(href='#') Place a bid
              .nft__item_like
                i.fa.fa-heart
                span 94
      .spacer-single
      .row
        .col-lg-12
          h2.style-2 Hot Collections
        #collection-carousel-alt.owl-carousel.wow.fadeIn
          .nft_coll
            .nft_wrap
              a(href='collection.html')
                img.lazy.img-fluid(src='images/collections/coll-1.jpg', alt='')
            .nft_coll_pp
              a(href='collection.html')
                img.lazy.pp-coll(src='images/author/author-1.jpg', alt='')
              i.fa.fa-check
            .nft_coll_info
              a(href='collection.html')
                h4 Abstraction
              span ERC-192
          .nft_coll
            .nft_wrap
              a(href='collection.html')
                img.lazy.img-fluid(src='images/collections/coll-2.jpg', alt='')
            .nft_coll_pp
              a(href='collection.html')
                img.lazy.pp-coll(src='images/author/author-2.jpg', alt='')
              i.fa.fa-check
            .nft_coll_info
              a(href='collection.html')
                h4 Patternlicious
              span ERC-61
          .nft_coll
            .nft_wrap
              a(href='collection.html')
                img.lazy.img-fluid(src='images/collections/coll-3.jpg', alt='')
            .nft_coll_pp
              a(href='collection.html')
                img.lazy.pp-coll(src='images/author/author-3.jpg', alt='')
              i.fa.fa-check
            .nft_coll_info
              a(href='collection.html')
                h4 Skecthify
              span ERC-126
          .nft_coll
            .nft_wrap
              a(href='collection.html')
                img.lazy.img-fluid(src='images/collections/coll-4.jpg', alt='')
            .nft_coll_pp
              a(href='collection.html')
                img.lazy.pp-coll(src='images/author/author-4.jpg', alt='')
              i.fa.fa-check
            .nft_coll_info
              a(href='collection.html')
                h4 Cartoonism
              span ERC-73
          .nft_coll
            .nft_wrap
              a(href='collection.html')
                img.lazy.img-fluid(src='images/collections/coll-5.jpg', alt='')
            .nft_coll_pp
              a(href='collection.html')
                img.lazy.pp-coll(src='images/author/author-5.jpg', alt='')
              i.fa.fa-check
            .nft_coll_info
              a(href='collection.html')
                h4 Virtuland
              span ERC-85
          .nft_coll
            .nft_wrap
              a(href='collection.html')
                img.lazy.img-fluid(src='images/collections/coll-6.jpg', alt='')
            .nft_coll_pp
              a(href='collection.html')
                img.lazy.pp-coll(src='images/author/author-6.jpg', alt='')
              i.fa.fa-check
            .nft_coll_info
              a(href='collection.html')
                h4 Papercut
              span ERC-42
      .spacer-single
      .row
        .col-lg-12
          h2.style-2 Top Sellers
        .col-md-12.wow.fadeIn
          ol.author_list
            li
              .author_list_pp
                a(href='author.html')
                  img.lazy(src='images/author/author-1.jpg', alt='')
                  i.fa.fa-check
              .author_list_info
                a(href='author.html') Monica Lucas
                span 3.2 ETH
            li
              .author_list_pp
                a(href='author.html')
                  img.lazy(src='images/author/author-2.jpg', alt='')
                  i.fa.fa-check
              .author_list_info
                a(href='author.html') Mamie Barnett
                span 2.8 ETH
            li
              .author_list_pp
                a(href='author.html')
                  img.lazy(src='images/author/author-3.jpg', alt='')
                  i.fa.fa-check
              .author_list_info
                a(href='author.html') Nicholas Daniels
                span 2.5 ETH
            li
              .author_list_pp
                a(href='author.html')
                  img.lazy(src='images/author/author-4.jpg', alt='')
                  i.fa.fa-check
              .author_list_info
                a(href='author.html') Lori Hart
                span 2.2 ETH
            li
              .author_list_pp
                a(href='author.html')
                  img.lazy(src='images/author/author-5.jpg', alt='')
                  i.fa.fa-check
              .author_list_info
                a(href='author.html') Jimmy Wright
                span 1.9 ETH
            li
              .author_list_pp
                a(href='author.html')
                  img.lazy(src='images/author/author-6.jpg', alt='')
                  i.fa.fa-check
              .author_list_info
                a(href='author.html') Karla Sharp
                span 1.6 ETH
            li
              .author_list_pp
                a(href='author.html')
                  img.lazy(src='images/author/author-7.jpg', alt='')
                  i.fa.fa-check
              .author_list_info
                a(href='author.html') Gayle Hicks
                span 1.5 ETH
            li
              .author_list_pp
                a(href='author.html')
                  img.lazy(src='images/author/author-8.jpg', alt='')
                  i.fa.fa-check
              .author_list_info
                a(href='author.html') Claude Banks
                span 1.3 ETH
            li
              .author_list_pp
                a(href='author.html')
                  img.lazy(src='images/author/author-9.jpg', alt='')
                  i.fa.fa-check
              .author_list_info
                a(href='author.html') Franklin Greer
                span 0.9 ETH
            li
              .author_list_pp
                a(href='author.html')
                  img.lazy(src='images/author/author-10.jpg', alt='')
                  i.fa.fa-check
              .author_list_info
                a(href='author.html') Stacy Long
                span 0.8 ETH
            li
              .author_list_pp
                a(href='author.html')
                  img.lazy(src='images/author/author-11.jpg', alt='')
                  i.fa.fa-check
              .author_list_info
                a(href='author.html') Ida Chapman
                span 0.6 ETH
            li
              .author_list_pp
                a(href='author.html')
                  img.lazy(src='images/author/author-12.jpg', alt='')
                  i.fa.fa-check
              .author_list_info
                a(href='author.html') Fred Ryan
                span 0.5 eth
a#back-to-top(href='#')
