head
    title TJS - NFT Marketplace Website Template
    link(rel='icon', href='images/icon.png', type='image/gif', sizes='16x16')
    meta(content='text/html;charset=utf-8', http-equiv='Content-Type')
    meta(content='width=device-width, initial-scale=1.0', name='viewport')
    meta(content='Gigaland - NFT Marketplace Website Template', name='description')
    meta(content='', name='keywords')
    meta(content='', name='author')

    //- CSS Files

    link#bootstrap(href='css/bootstrap.min.css', rel='stylesheet', type='text/css')
    link#bootstrap-grid(href='css/bootstrap-grid.min.css', rel='stylesheet', type='text/css')
    link#bootstrap-reboot(href='css/bootstrap-reboot.min.css', rel='stylesheet', type='text/css')
    link(href='css/animate.css', rel='stylesheet', type='text/css')
    link(href='css/owl.carousel.css', rel='stylesheet', type='text/css')
    link(href='css/owl.theme.css', rel='stylesheet', type='text/css')
    link(href='css/owl.transitions.css', rel='stylesheet', type='text/css')
    link(href='css/magnific-popup.css', rel='stylesheet', type='text/css')
    link(href='css/jquery.countdown.css', rel='stylesheet', type='text/css')
    link(href='css/style.css', rel='stylesheet', type='text/css')

    //- Color Schema

    link#colors(href='css/colors/scheme-01.css', rel='stylesheet', type='text/css')
    link(href='css/coloring.css', rel='stylesheet', type='text/css')